.button {
  background-color: $blue;
  width: 280px;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;
  text-decoration: none;
  display: block;
  margin: 0 auto;

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
    color: rgba($white, 0.7);
  }

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.button--form {
  padding-top: 20px;
  padding-bottom: 13px;
}
