.button {
  background-color: $blue;
  width: 280px;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;
  text-decoration: none;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
