.field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.field__name {
  color: $dark;
  line-height: 26px;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 14px;
  }
}

.field__name--hide {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.field__input {
  border: none;
  background-color: $form-grey;
  height: 58px;
  flex-grow: 1;
  padding: 0;
  padding-left: 25px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    padding-left: 25px;
    color: $black;
  }

  &:hover {
    background-color: $gallery-grey;
  }

  &:active {
    background-color: $white;
    border: 4px solid $gallery-grey;
  }
}

.field--contacts {
  flex-direction: column;
  flex-basis: 280px;
  align-items: stretch;
  position: relative;

  .field__name {
    padding-left: 22px;
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 684px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 401px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    align-items: baseline;
  }
}

.field__icon {
  position: absolute;
  display: flex;
  width: 58px;
  height: 58px;
  right: 0;
  bottom: 0;
  background-color: $contacts-grey;

  svg {
    margin: auto;
  }
}

.field--mail {
  @media (min-width: $desktop-width) {
    flex-basis: 481px;
  }
}
