.fieldset {
  border-bottom: 1px solid $gallery-grey;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
  }
}

.fieldset__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 309px;
  }
}

.fieldset--impression .fieldset__item {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.fieldset--introduction .fieldset__item {
  margin-bottom: 20px;
}

.fieldset--contacts .fieldset__item {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.fieldset--attractions .fieldset__item {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}

.fieldset--impression {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.fieldset--contacts,
.fieldset--attractions,
.fieldset--text {
  grid-column: 1/-1;
}


.fieldset__wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.fieldset--attractions > .fieldset__wrapper {
  @media (min-width: $tablet-width) {
    width: 473px;
    margin: 0 auto;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.fieldset__title--attractions {
  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }
}

.fieldset--text {
  border-bottom: none;
}

.fieldset__title--text {
  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.fieldset__title--contacts {
  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.fieldset__title--contacts,
.fieldset__title--attractions,
.fieldset__title--text {
  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      background-color: $title-grey;
      top: 50%;
      left: -164px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      background-color: $title-grey;
      top: 50%;
      right: -164px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 280px;
      left: -322px;
    }

    &::after {
      width: 280px;
      right: -322px;
    }
  }
}

.fieldset__title--introduction,
.fieldset__title--impression {
  @media (min-width: $tablet-width) {
    text-align: start;
    margin-bottom: 60px;
  }
}

.fieldset__item {
  margin: 0;
}
