.form {
  box-sizing: border-box;
  border-top: 1px solid $gallery-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    padding: 60px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form__set {
  border: none;
}

.form__button {
  border: none;
  text-transform: uppercase;
  margin-top: 51px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    width: 480px;
  }
}

.form__caption {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    text-align: right;
    line-height: 26px;
    color: $dark;
    align-self: center;
  }
}
