.gallery {
  border-top: 1px solid $gallery-grey;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__item {
  border-bottom: 1px solid $gallery-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.gallery__item:first-child {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}
