.gallery {
  border-top: 1px solid $gallery-grey;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    padding: 48px 60px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 45px 0 0;
  }
}

.gallery__item {
  border-bottom: 1px solid $gallery-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
