.likes {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.likes__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 15px;

  svg {
    fill: $black;
    opacity: 0.3;

    @media (min-width: $desktop-width) {
      opacity: 1;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 11px;
  }

  @media (min-width: $desktop-width) {
    svg {
      fill: $white;
    }
  }
}

.likes__number {
  font-weight: bold;
  line-height: 24px;
}
