.logo {
  height: 102px;
}

.logo__border {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo__clouds {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
