.page-main {
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.page-main--index {
  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }
}

.page-main__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 260px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    max-width: 458px;
    margin-bottom: 33px;
  }
}

.page-main--index .page-main__title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
    max-width: 520px;
  }
}

.page-main__caption {
  line-height: 26px;
  color: $dark;
  text-align: center;
  margin: 0 auto;
  max-width: 285px;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    max-width: 440px;
    margin-bottom: 32px;
  }
}

.page-main--index .page-main__caption {
  @media (min-width: $tablet-width) {
    max-width: 520px;
  }
}
