.page {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  color: $black;
  text-transform: uppercase;
}
