.page-main {
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }
}

.page-main__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    max-width: 520px;
    margin-bottom: 42px;
  }
}

.page-main__caption {
  line-height: 26px;
  color: $dark;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin-bottom: 52px;
  }
}
