.page-main {
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
  }
}

.page-main--index {
  .page-main__title {
    margin-bottom: 32px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }

  .page-main__caption {
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
  }
}

.page-main--form {
  padding-top: 36px;

  .page-main__caption {
    margin-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin-bottom: 4px;
    }
  }

  .page-main__title {
    @media (min-width: $tablet-width) {
      margin-bottom: 31px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 63px;
  }
}

.page-main__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 28px;
  max-width: 263px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    max-width: 458px;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.page-main--index .page-main__title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
    max-width: 520px;
  }
}

.page-main__caption {
  line-height: 26px;
  color: $dark;
  text-align: center;
  margin: 0 auto;
  max-width: 285px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    max-width: 440px;
    margin-bottom: 32px;
  }
}

.page-main--index .page-main__caption {
  @media (min-width: $tablet-width) {
    max-width: 520px;
  }
}
