.progressbar {
  background-color: rgba($black, 0.4);
  padding: 22px 23px 20px 22px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.progressbar__bar {
  height: 3px;
  background-color: rgba($white, 0.3);
}

.progressbar__toggle {
  width: 9px;
  height: 9px;
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 58px;

  @media (min-width: $tablet-width) {
    top: -3px;
    left: 113px;
  }
}
