.promo {
  padding-top: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 61px;
  }
}

.promo__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.promo__caption {
  line-height: 24px;
  color: $dark;
  max-width: 266px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 451px;
  }
}

.promo__video {
  margin-top: 33px;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    margin-top: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 78px;
  }
}
