.promo {
  padding-top: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 59px;
  }
}

.promo__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 42px;
  }
}

.promo__caption {
  line-height: 24px;
  color: $dark;
  max-width: 266px;
  margin: 0 auto;
}

.promo__video {
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }
}
