.reason {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.reason--change {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.reason--town {
  .reason__text {
    padding-top: 33px;

    @media (min-width: $tablet-width) {
      padding-top: 41px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 48px;
    }
  }

  .reason__description {
    margin: 16px 12px 0 12px;
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      margin: 24px 0 0;
      padding-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      margin: 24px 4px 0;
    }
  }
}

.reason--bridge {
  .reason__text {
    padding-top: 39px;

    @media (min-width: $tablet-width) {
      padding-top: 45px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 51px;
    }
  }

  .reason__title {
    @media (min-width: $desktop-width) {
      margin-bottom: 13px;
    }
  }

  .reason__description {
    margin: 16px 12px 0 12px;
    padding-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-top: 23px;
      padding-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin: 23px 31px 0;
    }
  }
}

.reason__text {
  text-align: center;
  background-color: $grey;
  box-sizing: border-box;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding: 43px 32px 18px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 42px 52px 39px;
  }
}

.reason__text--colored {
  background-color: $blue;
  color: $white;

  .reason__description {
    border: none;
  }

  .reason__number::before,
  .reason__number::after {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
  }
}

.reason__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 0 21px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 73px;
    margin-bottom: 13px;
  }
}

.reason__number {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 8px;
    top: 50%;
    background-color: $dark;
  }

  &::before {
    left: -13px;
  }

  &::after {
    right: -13px;
  }
}

.reason__description {
  margin: 16px 32px 0 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid $dark-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 23px 0;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 24px 0;
  }
}

.reason--road .reason__description {
  @media (min-width: $tablet-width) {
    padding: 0 23px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 15px;
  }
}

.reason--tourists .reason__description {
  @media (min-width: $tablet-width) {
    padding: 0 10px;
  }
}

.reason:last-child {
  .reason__description {
    border-bottom: none;
  }
}

.reason__img {
  font-size: 0;
  line-height: 0;
  height: 260px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
