.reason {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.reason__text {
  padding-top: 34px;
  padding-bottom: 24px;
  text-align: center;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.reason__text--colored {
  background-color: $blue;
  color: $white;
}

.reason__title {
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.reason__description {
  margin-bottom: 39px;
}

.reason__img {
  font-size: 0;
  line-height: 0;

  @media (min-width: $tablet-width) {
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
