.social__list {
  display: flex;
  width: 151px;
  justify-content: space-between;

  @include list-styles-reset;

  @media (min-width: $tablet-width) {
    padding-right: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 41px;
  }
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  padding-top: 15px;
  padding-bottom: 7px;
  text-align: center;
  background-color: $blue;
  box-sizing: border-box;

  svg {
    fill: $white;
  }

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;

    svg {
      opacity: 0.3;
    }
  }
}
