.banner {
  background: url("/img/bg-back-mobile@1x.jpg") center no-repeat;
}

.banner__text {
  text-align: center;
  padding-top: 52px;
  padding-bottom: 67px;
}

.banner__text--index {
  padding-top: 90px;
  padding-bottom: 85px;
}
