.page-main {
  padding-top: 32px;
}

.page-main__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.page-main__caption {
  line-height: 26px;
  color: $dark;
  text-align: center;
}
