.reason {
  padding-top: 34px;
  padding-bottom: 24px;
  text-align: center;
  background-color: $grey;
}

.reason--colored {
  background-color: $blue;
  color: $white;
  padding-bottom: 0;
}

.reason__title {
  font-size: 18px;
  line-height: 26px;
}

.reason__description {
  margin-bottom: 39px;
}

.reason__img {
  font-size: 0;
  line-height: 0;
}
