$blue: #81b3d2;
$black: #000000;
$dark: #333333;
$white: #ffffff;
$grey: #eeeeee;
$dark-grey: #d6d6d6;
$gallery-grey: #e5e5e5;
$contacts-grey: #e6e6e6;
$title-grey: #d8d8d8;
$form-grey: #f2f2f2;
$darker-grey: #eaeaea;
$video-grey: #5c6870;
