.visit {
  padding-top: 33px;
  text-align: center;
}

.visit__title {
  font-size: 21px;
  line-height: 26px;
}

.visit__text {
  color: $dark;
  line-height: 24px;
  margin-bottom: 27px;
}

.visit__map {
  margin-top: 49px;
}
